// --- Color Scheme

// Polar Night
$nord0:  #2e3440; // origin color
$nord1:  #3b4252; // nord0 bright
$nord2:  #434c5e; // nord0 bright 2
$nord3:  #4c566a; // nord0 bright 3

// Snow Storm
$nord4:  #d8dee9; // origin color
$nord5:  #e5e9f0; // nord4 bright
$nord6:  #eceff4; // nord4 bright 2

// Frost
$nord7:  #8fbcbb; // frozen polar waters
$nord8:  #88c0d0; // clear ice
$nord9:  #81a1c1; // arctice waters
$nord10: #5e81ac; // arctic ocean

// Aurora
$nord11: #bf616a; // red
$nord12: #d08770; // orange
$nord13: #ebcb8b; // yellow
$nord14: #a3be8c; // green
$nord15: #b48ead; // magenta

// --- General Settings

* {
        all: unset;
}

.bar {
        background-color: $nord0;
}

.workspaces {
        background: #000;
}

.01, .02, .03, .04, .05, .06, .07, .08, .09 {
        color: #fff;
}

.011, .022, .033, .044, .055, .066, .077, .088, .099 {
        color: #fff;
}

.memory scale trough {
        all: unset;
        background-color: #666;
        min-height: 20px;
        min-width: 20px;
}

.memory scale trough highlight {
        all: unset;
        background-color: #666;
}

// --- Imports
@import "widgets/clock.scss";
