.DS_Store
GIMP/
REAPER/
bottom/
dconf/
ferium/
fontconfig/
glib-*/
legendary/
libfm/
menus/
mimeapps.list
nano/
nomacs/
obsidian/
pavucontrol.ini
procps/
pulse/
qt5ct/
QtProject.conf
systemd/
waybar/
yabridgectl/
