.DS_Store
.mono/
Cider/
Code/
GIMP/
Kvantum/
Rare/
Thunar/
Trolltech.conf
Trolltech.conf/
alacritty/nord-alacritty
broot/
coc/
configstore/
dconf/
dwm/
emacs/
ferium/
fontconfig/
galculator/
gammyconf
gtk-*/
gummyconf
htop/
inkscape/
iterm2/
legendary/
libfm/
lutris/
menus/
mimeapps.list
nano/
nomacs/
nvim/plugged/**
nvim/undodir/
pavucontrol.ini
pcmanfm/
pulse/
qt5ct/
raycast/
sonic-pi.net/
systemd/
tmux/themes/
user-dirs.dirs
user-dirs.locale
vice/
volumeicon/
xfce4/
yad.conf
yarn/
