.DS_Store
.mono/
configstore/
gtk-*/
nvim/undodir/
htop/
iterm2/
yarn/
nvim/plugged/**
broot/
Cider/
coc/
Code/
dconf/
emacs/
ferium/
fontconfig/
galculator/
GIMP/
inkscape/
Kvantum/
legendary/
libfm/
lutris/
menus/
mimeapps.list
nano/
nomacs/
pavucontrol.ini
pcmanfm/
pulse/
qt5ct/
Rare/
sonic-pi.net/
systemd/
Thunar/
Trolltech.conf/
user-dirs.dirs
user-dirs.locale
vice/
volumeicon/
xfce4/
yad.conf
