configuration {
    modi: [drun, window, ssh, filebrowser];
    show-icons: true;
    terminal: "alacritty";
    sidebar-mode: true;
    matching: "fuzzy";
    sorting: "fzf";
    window-match-fields: "class";
    drun-match-fields: "name";
    show-icons: false;
}
@theme "center"