* {
        all: unset;
}

.dashboard {
        // background-color: "#2e3440";
        background-color: rgb(46,  52, 64);
        // color: "#d8dee9";
        color: rgb(216, 222, 233);
        font-size: 14pt;
}

.battery {
        background-color: rgb(59, 66, 82);
        padding: 10px 0;
}

.batt_title {
        color: rgb(136, 192, 208);
}

.batt_charge, .batt_status {
}
