
* {
        border: none;
        font-family: JetBrainsMono Nerd Font Mono;
        font-size: 14px;
        color: #88c0d0;
}

window#waybar {
        background-color: transparent; /* transparent background */
        padding: 0;
        margin: 0;
}

#tags {
        margin: 0 3px;
        background-color: #2e3440;
}

#tags button {
        margin: 3px 0;
        padding: 0 3px;
}

#tags button.focused {
        color: #b48ead;
}

#tags button.urgent {
        color: #bf616a;
}

#tags button.occupied {
        color: #5e81ac;
}

#window {
        background-color: #3b4252;
}

#cpu,
#gpu,
#memory {
        padding: 0 8px;
        min-width: 8px;
        color: #88c0d0;
        background-color: #3b4252;
}

#clock {
        margin: 4px 2px;
        padding: 0 10px;
}

