
* {
        border: none;
        min-height: 0;
        box-shadow: none;
        text-shadow: none;
        icon-shadow: none;
        font-family: JetBrainsMono NFM;
        font-size: 16px;
        color: #88c0d0;
}

window#waybar {
        background-color: transparent; /* transparent background */
        padding: 0;
        margin: 0;
}

#tags {
        padding: 0 3px;
        background-color: #2e3440;
}

#tags button {
        margin: 3px 0;
        padding: 0 3px;
}

#tags button.focused {
        color: #b48ead;
        background-color: #2e3440;
}

#tags button.urgent {
        color: #bf616a;
}

#tags button.occupied {
        color: #5e81ac;
}

#window {
        padding: 0 8px;
        background-color: #3b4252;
}

#wireplumber {
        padding: 0 8px;
        min-width: 8px;
        background-color: #2e3440;
}

#cpu,
#memory {
        padding: 0 8px;
        min-width: 8px;
        background-color: #3b4252;
}

#clock,
#battery {
        padding: 0 10px;
        background-color: #2e3440;
}
