* {
        border: none;
        border-radius: 0;
        font-family: JetBrainsMono Nerd Font Mono;
        font-size: 14px;
        min-height: 0;
}

window#waybar {
        background: transparent;
        color: white;
}

tooltip {
        background: #3b4252;
        border-radius: 5px;
        border-width: 0px;
        border-style: none;
}

#workspaces button {
        padding: 5px 10px;
        color: #88c0d0;
}

#workspaces button.focused {
        color: #b48ead;
        background-color: #4c566a;
        border-radius: 5px;
}

#workspaces button.urgent {
        color: #bf616a;
}

#workspaces button:hover {
        color: #8fbcbb;
        background-color: #434c5e;
        border-radius: 5px;
}

#custom-updates, #workspaces, #custom-weather, #cpu, #memory, #network, #pulseaudio, #custom-date, #clock {
        padding: 5px 10px;
        margin: 5px 0px;
}

#custom-updates {
        background-color: #88c0d0;
        color: #3b4252;
}

#workspaces {
        background-color: #3b4252;
        border-radius: 0 16px 16px 0;
}

#custom-weather {
        background-color: #3b4252;
        color: #e5e9f0;
        border-radius: 16px 0 0 16px;
}

#cpu, #memory, #pulseaudio {
        background-color: #81a1c1;
        color: #3b4252;
}

#network {
        background-color: #3b4252;
        color: #ebcb8b;
}

#custom-date, #clock {
        background-color: #b48ead;
        color: #3b4252;
}
