@import "../../colors.scss";

* {
        all: unset;
}

.bar {
        background-color: $nord10;
        color: $nord0;
        font-weight: bold;
        font-size: 12pt;
        border-top-right-radius: 1em;
}

.datetime, .battery {
        padding-left: 0.5em;
        padding-right: 0.5em;
}

.batt_charging {
        color: $nord14;
}
