* {
        all: unset;
        background-color: none;
}

.clock {
        font-family: "JetBrainsMono Nerd Font Mono";
        background-color: none;
}

.clock_time {
        font-size: 4em;
        font-style: bold;
}

.clock_misc {
        font-size: 1em;
}
