window {
        margin: 0px;
        background-color: #3b4252;
        color: #d8dee9;
        border: solid 3px #81a1c1;
        font-family: JetBrainsMono Nerd Font Mono;
        font-size: 12pt;
}

#input {
        margin: 5px;
        background-color: #4c566a;
}

#inner-box {
        margin: 5px;
        background-color: #4c566a;
}

#outer-box {
        margin: 5px;
}

#scroll {
        visibility: none;
}

#entry:selected {
        background-color: #81a1c1;
}
